In [64]:
#Import dependencies
import pandas as pd

In [65]:
#Read in employment and unemployment datasets to pandas dataframe
employment_df = pd.read_csv('./Datasets/california_employment_data.csv')
employment_df

,Area Type,Area Name,Year,Month,Date,Series Code,Industry Title,Seasonally Adjusted (Y/N),Current Employment
0,County,Alameda County,2014,January,01/1/2014,30000000,Manufacturing,N,65300
1,County,Alameda County,2014,January,01/1/2014,41000000,Wholesale Trade,N,36700
2,County,Alameda County,2014,January,01/1/2014,43000000,"Transportation, Warehousing, and Utili...",N,24400
3,County,Alameda County,2014,January,01/1/2014,50000000,Information,N,13900
4,County,Alameda County,2014,January,01/1/2014,60550000,Management of Companies and Enterprises,N,18400
...,...,...,...,...,...,...,...,...,...
492431,State,California,2024,March,03/1/2024,43484000,Truck Transportation,N,148700
492432,State,California,2024,March,03/1/2024,55522100,Depository Credit Intermediation i...,N,126700
492433,State,California,2024,March,03/1/2024,55000000,Financial Activities,N,801200
492434,State,California,2024,March,03/1/2024,50517111,Wired Telecommunications Carriers,N,36600
492435,State,California,2024,March,03/1/2024,50516200,Media Streaming Distribution Servi...,N,65600

In [66]:
unemployment_df = pd.read_csv('./Datasets/california_unemployment_data.csv')
unemployment_df

,Area Name,Area Type,Year,Month,Date_Numeric,Seasonally Adjusted(Y/N),Status,Labor Force,Employment,Unemployment,Unemployment Rate
0,California,State,1976,January,01/1976,N,Final,9672362,8668016,1004346,10.4
1,California,State,1976,January,01/1976,Y,Final,9774280,8875685,898595,9.2
2,Los Angeles County,County,1976,January,01/1976,N,Final,3364151,3040058,324093,9.6
3,Los Angeles County,County,1976,January,01/1976,Y,Final,3381856,3081806,300050,8.9
4,Los Angeles-Long Beach-Glendale MD,Metropolitan Area,1976,January,01/1976,N,Final,3364151,3040058,324093,9.6
...,...,...,...,...,...,...,...,...,...,...,...
197947,Yountville town,Sub-County Place,2023,December,12/2023,N,Final,1500,1400,100,6.2
197948,Yreka city,Sub-County Place,2023,December,12/2023,N,Final,2880,2760,120,4.0
197949,Yuba City city,Sub-County Place,2023,December,12/2023,N,Final,32200,29500,2800,8.7
197950,Yucaipa city,Sub-County Place,2023,December,12/2023,N,Final,26800,25800,1100,4.0
197951,Yucca Valley town,Sub-County Place,2023,December,12/2023,N,Final,9700,9000,700,6.8

In [67]:
unemployment_df = unemployment_df.drop(unemployment_df[unemployment_df["Area Type"]=="Sub-County Place"].index)
employment_df = employment_df.drop(employment_df[employment_df["Seasonally Adjusted (Y/N)"] == "Y"].index)
unemployment_df = unemployment_df.drop(unemployment_df[unemployment_df["Seasonally Adjusted(Y/N)"]=="Y"].index)
unemployment_df = unemployment_df.drop('Seasonally Adjusted(Y/N)', axis = 1)
employment_df = employment_df.drop("Seasonally Adjusted (Y/N)", axis = 1)
employment_df = employment_df.drop("Series Code", axis = 1)
unemployment_df = unemployment_df.drop("Status", axis = 1)

In [68]:
unemployment_df = unemployment_df.drop(unemployment_df[unemployment_df["Year"]<2014].index)

In [76]:
updated_employment_data = pd.merge(employment_df, unemployment_df, on = ['Area Type','Area Name', "Year", "Month"], how = "left")

In [77]:
updated_employment_data.columns

Index(['Area Type', 'Area Name', 'Year', 'Month', 'Date', 'Industry Title',
       'Current Employment', 'Date_Numeric', 'Labor Force', 'Employment',
       'Unemployment', 'Unemployment Rate'],
      dtype='object')

In [78]:
updated_employment_data = updated_employment_data.drop(['Date_Numeric'], axis = 1)

In [79]:
updated_employment_data = updated_employment_data.rename(columns={"Current Employment":"Industry Current Employment",
                                                                  "Employment":"Regional Employment",
                                                                  "Unemployment":"Regional Unemployment",
                                                                  "Unemployment Rate": "Regional Unemployment Rate",
                                                                  "Labor Force": "Regional Labor Force"})

In [81]:
updated_employment_data.to_csv("Datasets/updated_employment_data.csv")